*~
\#*\#
*.vo
*.glob
*.v.d

*.hi
*.o
*_flymake.hs
/Bank.hs
/FraCoq2.v
/Formulas.v
/FraToCoq
/Tests
/verify.txt
.*.aux
# coq compiler?
verify*.txt
/.lia.cache
*.dvi
*.out
*.pdf
*.xdv
*.aux
*-blx.bib
*.fdb_latexmk
*.bbl
*.blg
*.log
*.fls
*.run.xml