[submodule "FraCaS-treebank"]
	path = FraCaS-treebank
	url = https://github.com/heatherleaf/FraCaS-treebank
[submodule "paper2018/PaperTools"]
	path = PaperTools
	url = git@github.com:jyp/PaperTools.git
